variables:
  ADVERTISED_HOST: "spotify__kafka"
  ADVERTISED_PORT: "9092"
  AUTO_CREATE_TOPICS: "true"
  POSTGRES_HOST_AUTH_METHOD: "trust"

stages:
  - test
  - release

services:
  - spotify/kafka@sha256:cf8f8f760b48a07fb99df24fab8201ec8b647634751e842b67103a25a388981b
  - postgres:latest@sha256:1a7c9115671c686384cf4cd9fb50b682f8d5df9bb1d26070001741a064dd04b4

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - $HOME/.cache/pip

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    rules:
      - if: $CI_PIPELINE_SOURCE == "schedule"
        when: never
      - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.5.1

test:lib:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - uv sync
    - uv run tox
  coverage: '/^TOTAL.+?(\d+\%)$/'
  parallel:
    matrix:
      - IMAGE: py311
        TOX_SKIP_ENV: "^(?!py311-)"
      - IMAGE: py312
        TOX_SKIP_ENV: "^(?!py312-)"
      - IMAGE: py313
        TOX_SKIP_ENV: "^(?!py313-)"

test:docs:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:3.13.1086@sha256:ba6afe926a1e3f876cadde3752e7bb43ff5978deab7b9ee0bd22c4f822554dd6"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - uv sync
    - make docs

pages:
  stage: release
  image: "registry.gitlab.com/thelabnyc/python:3.13.1086@sha256:ba6afe926a1e3f876cadde3752e7bb43ff5978deab7b9ee0bd22c4f822554dd6"
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
  needs:
    - test:lib
  script:
    - uv sync
    - make docs
  artifacts:
    paths:
      - public
