version: '2'
services:
  spotify__kafka:
    image: spotify/kafka@sha256:cf8f8f760b48a07fb99df24fab8201ec8b647634751e842b67103a25a388981b
    environment:
      ADVERTISED_HOST: 'spotify__kafka'
      ADVERTISED_PORT: '9092'
      AUTO_CREATE_TOPICS: 'true'

  postgres:
    image: postgres:latest@sha256:6f3e42ad37decc037c508dd405f5941c6dfa7d21f21a7237a43bde9def1e295e
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - spotify__kafka
      - postgres
    volumes:
      - .:/code
